@charset "utf-8";
#texto h1 {
	font-family: "Comic Sans MS", cursive;
	font-size: 36px;
	color: #6600FF;
	line-height: 20px;
	margin-bottom: 5px;
}
#texto h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 36px;
	color: #660099;
}
#texto p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 20px;
	font-style: italic;
	text-align: justify;
	margin-top: 0px;
}
